/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b28;
    height: 100vh;
}



.frontPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Merriweather;
    color: #ebebe3;
    font-size: xx-large;
} */



body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b28;
    height: 100vh;
}

.frontPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ebebe3;
    font-size: 170%;
}

.text1{
    opacity: 0;
    animation: fadeIn1 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.text2{
    opacity: 0;
    animation: fadeIn2 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.text3{
    opacity: 0;
    animation: fadeIn2 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}


input{
    border-radius: 6px;
    padding: 3px;
    margin: 2%;
    line-height: 1.5;
    background-color: #ebebe3;
    width: 40%;
    height: 30px;
    color: #2b2b28;
    outline: none;
    transition: 0.4s;
}

input:focus{
    box-shadow: 1px 1px 14px 2px rgba(255, 255, 255, 0.2);
}

@keyframes fadeIn1{
    0% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes fadeIn2{
    0% {opacity: 0;}
    100% {opacity: 100;}
}